Source: vulture-browser
Section: user/network
Priority: extra
Maintainer: le0nklcpp <le0nklcpp@gmail.com>
Build-Depends: debhelper-compat (=13), cdbs,
 cmake (>= 3.1),
 extra-cmake-modules (>= 5.27.0),
 libjs-jquery,
 libjs-jquery-ui,
 libqt5x11extras5-dev,
 libssl-dev,
 libx11-dev,
 libxcb-util0-dev,
 pkg-config,
 qt5-qmake,
 qtbase5-dev,
 qtbase5-private-dev,
 qtchooser,
 qtscript5-dev,
 qttools5-dev,
 qttools5-dev-tools,
 qtwebengine5-dev
Standards-Version: 4.3.0
Homepage: https://gitlab.com/le0nklcpp/vulture-browser
Vcs-Git: https://github.com/maemo-leste-extras/vulture-browser/
Vcs-Browser: https://github.com/maemo-leste-extras/vulture-browser/

Package: vulture-browser
Version: 23.06.27
Architecture: any
Depends: libqt5sql5-sqlite, qml-module-qtwebengine, libc6 (>= 2.28), libgcc-s1 (>= 3.5), libqt5core5a (>= 5.15), libqt5dbus5 (>= 5.0), libqt5gui5 (>= 5.14) | libqt5gui5-gles (>= 5.14), libqt5network5 (>= 5.0), libqt5printsupport5 (>= 5.0), libqt5qml5 (>= 5.1), libqt5quickwidgets5 (>= 5.4), libqt5sql5 (>= 5.3), libqt5webchannel5 (>= 5.6), libqt5webenginecore5 (>= 5.12), libqt5webenginewidgets5 (>= 5.14), libqt5widgets5 (>= 5.15), libqt5x11extras5 (>= 5.6), libssl1.1 (>= 1.1), libstdc++6 (>= 5), libxcb1
Suggests: qtwebengine5-dev-tools
Conflicts: falkon
Replaces: falkon
Provides: www-browser
Priority: optional
Description: Fork of Falkon browser that has KDE bloatware removed
 Port of Falkon for Maemo Leste containing some patches
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAIAAADYYG7QAAAACXBIWXMAAAsT
 AAALEwEAmpwYAAALfklEQVRYw61ZW2wcVxn+/nNmZmd3vbbXsb12bSebuLhu
 0rSOmpYiLiWoCFSgaUEKvjSVeKAC8dI+VICEKiQknniBF3hDom5S8oLUcKu4
 lEIvtAkJ0JK2dm527CQbO9mL9zaXc34eZnc8u3GcBHG0Xp05Mz7nm+/7b+cs
 4fbbq6++urS0RETQFhHAzFBEBBAxAaTIA3QsFjtw4MDtTk63/uiRI0ccxxFs
 MSmpknEnK1Wn4XWRMgWbUATyQL4ni0qu1RIXXCtP2mDpENGTTz75/wR09OjR
 UqHETIbujTlZ2xsWfpwYYES/oUFBX4MAJq8WW651LDiJSwCZtrgVwuimrPi+
 r5Ww1EBH/QGhEsHywaoI0GgADTTBJaFxNxhheKXef1VSp0EwY3JzWJsBeuml
 l3yPDd6SdO43VA80gCYBDGKwBmEdHIVUtY1ogKFkpdh7sp5aIsnT09O3DejQ
 oUNaIek/ZPnbQ13W5dDtl4LBUdWiOmJ93Imtrgz/CULNHJy5DUCHDr2klU6p
 Rwzdt64FI9pvYGouFmUrlCzoUyguB1SVr4z8kU136skDRHRzQC+8cJhAnfpL
 khPBqoisjVZwIVtRJqLitlEboGTyV7b+wbeK009N3QTQ7OwsONaJL5K2ozYR
 zJjqRnoAqTTiKVgJTYKZtfJQK3GtiPJlUbwovTJFLSwqYhSfZr08flhoY/qp
 yRsCOnz4sPKpgz4vuStqBL2DGNqB/q2w7MaTzMzMWmutdWuHr52j1Q9jxQWz
 TWtwQ9OQUS2dS9lfQzozT81sAOjIkSOuqxLi0wYGonP123Mp74Stzlm4YOlF
 mTLs3n6jJyPTQ9w/qZAIAUXxuWVx6UT82oex9hjBLfp65trl7G+FqUO/M0JA
 nqstMSZpANzAyQwQrtTGrvBYiK/HXxxWf++p/1UauyFTglkpRZHGzADMpBr+
 eKkra158M+UWJQmwhgjmDHkgmF5qS+7Bq5l32hmanZ0lGEnry6TNFr2bttnR
 iR27kGlVLapX0FdKtY34Li//rWvtvN0WC6Jx61L2ZRUvz8zMABDN2U3LvA8w
 mcAEBiBAAoFbbL0Ln9yPkbF1NI23aTptWyf6LQweejjfs7sMQhg1QY1PsFY6
 91FW4vjx4w3JDh06pLVpyLvAzZUEwGAGEbaPY9fejSJYU52gE70sFApHjx51
 XXdiYmLXrl1E3LenSIa6drIriAhNFkAEEOx6Jl7NzL0/1wCklLDtnWi+JTf+
 QAKDwxujCTGFOKIoY7HY7OxsLpcD8Nxzzz3xxBMAenaVoHH1n10UQAECwyIC
 Mzqu7azbKwAocK544jGBREv21jAN7HsUdvyGgALnb7ObwHSOHTv27LPPlsvl
 ZDL5yiuvEFFwyykalQv22umUXzSjVsWal8d+CaHkY489JkTKjN0T4afRdk6g
 L7NpqdCkh5stBDo4OLh///6RkZFsNjs6OhqPx4O7wlKx3nrHR4oi4dZzSejA
 n0FEvlX0YgWDhGFY2cDiwCDRKCdiMWR33HKZ1+rzQT+dTj/++OOhJ0bTFhE6
 dqxZPfVrr9/hl8zA1+OlbbXERUEQwhwJbL7hVgQQRrIQ8lahACB48PJ+tVwr
 qMpVWV41nDXDr4vQkQPm1p8nMjqdLY8siIQHAQbs2h0sPYPZh0gxgUKzBxjY
 tgk9ugJnCd4V7azUKnaxmKm7KaakRo9pG2ZMk9QE9uvwXcurkvKgFZNQwvLt
 3joZHL6MtHTXgxfzr20DAVqQHzNAMSElNDg0eyCVQkdHKwh3hdfehXOOvPOs
 ijXes1K818Hn+4YSmRFmVoE0Qee6BNcMmz6qq7ZTImbf6qkJ29NaW33V+PZ8
 7WyaBCyv2wBJDsTSDYYY6G/aMjureuUNnX8HzgUYguzMVfczV91PDI8mt42u
 O1ogXdCPitLWkQYn+px4LzOzUzKrS3GyHKOnYm8t1c6lGRDaMogsNKNn6Gh9
 /WBvzZv7hZ97jSSEKWFnLnlfdY2HsndRJtYerEMcQgitdSQx+aSLQpXBntZa
 swHudJyU74CIk4MuSa7mutjVMDR8Qb5lMDHEeq3ODBLolucqf/4eVJlMCZm8
 Zn1lRX9hbLdp2zeNAkp6Z2VtXrjnhZ9jppqXLZa2lwsDvteluVujo54X5Ryg
 mumMIKRmLQBAsAHtBdmdASKQgG147tvPw83DEEjdfRrP7hjN3JveDIcQpMv/
 EZXjRu1d0nWPsrn8AxcX9pipVPegSg1zzz1Qrlg6aeQ+EF4lWKyxKDS0FsHq
 LD0D7AdBKLBoAIPGcZW/TIZR7Z+8kpy+b7eQm/g/uyj9FYXXpL/KZBXcT83P
 P2wmOzPb/fExLYQT6JibM06/aWinEeoa9VDQgnUJALRwDdYOQwmSgVis0aHO
 Mpm5zHdS2z81cccmEimU/ob87+CXQFbe++ypDz+bHjJHH3It24lWSMunzDNv
 SjTTVhAYw+TKvG6+rlkwIAzWayy6w6KJiM/2/jA1ODG0CZr6Gay8ADcHwBE7
 T/xnJtGTGP+4Y5gtUIQQtTVx5p2mI3OYwaHDvmhsCjRrLRxDEthdRLwb1JDs
 3/4ks/Ho8I008nD1Vyj9BcxM9mLhqwuX935kTyWerIcgop3V8wa3lqDUdB1w
 Y8WAJye5TGwagPYr50Ti3gZ8Ac3GQC82dij/Ki79DO4SACX7j819M7Glc/fH
 ykSIghBChOGnUiS0KtWwG24hDAK15HkyPDE1NcW6yrrSqOIABgY3SvJcfl+f
 +QFXF8Fw5N1/ee/b/dsTIzscgAMQITdRyaTZ9JiwRKRGSbE+CIDYsZfDKYSq
 LwZPQwCETN91aPLH1PyP2ClpX1Wx67VT3xifcNO9KoQSUhKSFMTMrj4EuZMI
 TI0SkUSIo3HpxHJgOTU1JQAI0lw5FfgiA6aJZGtRplff8j78CfuuVqou73t9
 /unde6qJ5Hp0BnA9Q0IIKWX/Ngor6GhZHXBDzZFKx3ss3EaRPz09zeyr6vsB
 5O7OVufOveGe+rH2PVbak3e+cf7p3RMV2+Y2PtpghQzZSQzeiejeoQVcg55L
 rnl1aGhofddhSKi1d4ndNkC68IHz7o+177PSWva9lXtm5z21WIxpoxaCaMM0
 9iAMC6CGdoiAC3ZEpc63Sap9+/atA5qcnCSQKv8btK4XV3PVd36g3Dr7irU8
 UX4mO8rJJLc5dhtP4WD4VvEkxh5oMZrwQwJO/AwLN9iUIVrOmabwK6e1s9Qo
 FFW9/PrzupqHYlb6ov21ZF9/uttv46PN1aPlbFT3rTuRHmx1KwEGXFksJY5p
 uJFE0mwHDhwQpL1rrws4AKr/+KmfP8uKtVJex8SC+szWITfKRBRTiCy8dV0C
 xp5HYKeavhaIJevF1B+EwQcPHtwAEICZmRlBGt5lb+mt2gcvs2LtK8A+4X1r
 fLQSRr9mhhdt5nI9MdFm2bj/czCs5uZV6ELyj5B+2/HeBv9/+dx7xhvfZbco
 DElS5Ie/Xu770tZBt23hqGShf910U5DP4dhv4XtuMf4bJnfm4GTbAxtMYc//
 Uq2tslLaV2z1zdP+rYNeW/Tb0K1uZcOUzuCBR/1q1+9YboCm5TgmUs+7rDSI
 AH05vX/HiArX2tB0ohZ9K61UvyhMNTM5ueHdDQC5C29rXwlApgbez1sPd9SF
 sG4UdW4LTb3unjx5cmHh3NTU1O0dC1/5+ROqtJS8d//vV8YsyxoZ2TY6usM0
 jTYbCkW8KRSl9Nzc3NzcPLMKzh5u1IwNR2UioysrZubuA/u+Epz2LS8vDwwO
 jI7e2ZGMR63npmjK5drp+bnFxQuOW/vff1pg/n7+5XLP/h+1/eJRKBRGRrJ9
 fVsyAwNbetI35oPz+cLKSm515drC4lkp5SZH9//7r0HRLfqLL75o23Z3d18y
 mbRtSwgSQvi+77r+2tpaLrfMzOPj43v37r3dyf8L/VKzWnlvsqcAAAAASUVO
 RK5CYII=